
@fontface {
    font-family: 'Playfair Display', cursive;
    src: url('https://fonts.googleapis.com/css?family=Playfair+Display')
  }
*{
    font-family: 'Playfair Display', serif;
}

.projects{
    overflow: scroll;
}


h1{
    border-bottom: 1px solid;
}

img{
    width: 100%;
    
   
    
    
    padding: 10px;
}