@fontface {
    font-family: 'Playfair Display', cursive;
    src: url('https://fonts.googleapis.com/css?family=Playfair+Display')
  }

.homeContainer{
   
    width: 50%;
  height:100vh;
  display: inline-block;
  background-color: white;

}

.titleDiv{
    position: absolute;
    top: 36%;
    left: 21%;
}
.name{
    font-family: 'Playfair Display', serif;
    line-height: 75px;
    font-size: 40px;
    margin: -7px;;
}

.title{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding-left: -3px;
}

li {
    list-style-type: none;
    display: inline;
}

.simpleNav{

}