@media screen and (max-width: 979px){
.background{
    background-image: linear-gradient(to right top, #babfc2, #92999f, #6b757d, #48535c, #26333e);
    width: 100%;
    display: inline-block;
    height: 40vh;
    border-bottom: 4px solid #ec4c30;
  }
}

  @media screen and (min-width: 980px){
    .background{
    background-image: linear-gradient(to right top, #babfc2, #92999f, #6b757d, #48535c, #26333e);
    position: absolute;
    right: 0%;
    width: 50%;
    display: inline-block;
    height: 100vh;
    border-left: 4px solid #ec4c30;
    }
}