@fontface {
    font-family: 'Playfair Display', cursive;
    src: url('https://fonts.googleapis.com/css?family=Playfair+Display')
  }
*{
    font-family: 'Playfair Display', serif;
}

p{
    margin: 0px;
}

.contactContainer{
    width: 100%;
    height:50vh;
    display: inline-block;
    background-color: white;
    position: absolute;
    bottom: 0%;
}

.gmail {
    padding-top: -5px;
}
@media screen and (min-width: 980px){

    .contactContainer{
   
        width: 50%;
      height:100vh;
      display: inline-block;
      background-color: white;
      position: absolute;
      left: 0%;
    
    }

    .email{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

}